body {
    background-color: #000f0f;
}

/* 头 */
.logo-div {
    width: 118px;
    background-color: #0A2C2C;
    border-radius: 22px;
    border-bottom-right-radius: 0px;
    height: 44px;
    position: fixed;
}

.yoforn-logo {
    width: 128px;
    height: 32px;
    position: relative;
    right: 4px;
    top: 6px;
}

.sec-div {
    display: inline-block;
    width: 440px;
    color: #0FA3A3;
    font-size: 20px;
    font-weight: 600;
    background-color: #0A2C2C;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 58px;
}

.sd-span {
    position: relative;
    left: 42px;
    letter-spacing: 1px;
}

/* 设置hr的属性 */
.top-hr {
    border: none;
    height: 4px;
    background-image: linear-gradient( to right,  #0A2C2C ,#f7fafc);
    margin-top: 10px;
    margin-bottom: 20px;
}




/* content区 */
.content-div {
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    /* 设置内容的大小 */
    min-height: 64px;
    max-height: 100px;
    color: #c4c4c4;
    background-color: #000F0F;
    margin-top: 6px;
    /* 设置边框属性 */
    border: 1px solid #f7fafc36;
    border-radius: 8px;
    padding:20px;
}

/* 鼠标hover在content时的状态 */
.content:hover {
    color: #0FA3A3;
    border: 2px solid #f7fafca1;
    margin-top: 4px;
    font-weight: 900;
}



/* footer区 */
footer {
    text-align: center;
    color:#f7fafca1;
    font-size: 0px;
}

.footer-hr {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 128px;
    border: none;
    border: 1px solid #f7fafc8a;
}

.footer-span{
    font-size: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

/* a设置属性 */
.footer-a {
    color: #f7fafc8a;
    text-decoration: none;
}

.footer-span:hover,.footer-a:hover {
    color: #F7FAFC;
}