.first-div {
    background-color: rgb(115, 10, 185);
    font-size: 0px;
}

.yo-logo {
    width: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 4px;
}

.forn-logo {
    font-size: 40px;
    font-weight: 800;
    color: green;
    text-shadow: 1px 1px 2px;
    margin-right: 4px;
}

.sp {
    font-size: 20px;
    font-weight: bold;
    color: rgb(69, 180, 93);
}

.div-top {
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 1);
    position: relative;
    border-radius: 50%;
}

.div-top div {
    height: 140px;
    width: 140px;
    background-color: rgb(250, 235, 235);
    border-radius: 50%;
    position: relative;
    top: 200px;
    left: 220px;
}

.y {
    position: relative;
    color: whitesmoke;
    font-size: 300px;
    font-weight: 600;
    top: -200px;
    left: 48px
}
